body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

/* ----------------navbar style -------------------- */
.navbar {
    font-family: "Releway", helvetica, Arial, sans-serif;
    width: 100%;
    height: 120px; /* change it to desired width */
    display: flex;
    background-color: #3e8e41;
}

.logo {
    /* display: inline-block; */
    text-align: left;
    vertical-align: top;
    width: 300px;
    /* height: 180px; */
    margin-right: 500px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
.nav > a {
    display: inline-block;
    vertical-align: center;
    padding: 30px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}
/* ----------------------------------- -------------------- */



footer {
    background-color: #97a589;
    font-family: sans-serif;
    padding: 30px 0 20px 0;
    margin: 0;
    line-height: 1.8;
}

/* ----------------- linki na stronie ----------------- */
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #736080;
    /* text-decoration: underline; */
}
/* ----------------- -------------------- ----------------- */

/* ----------------- dropdown menu ----------------- */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    color: #736080;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
/* ----------------- ----------------- ----------------- */









hr {
    width: 8%;
    margin-bottom: 30px;
    border: 3px solid #97a589;
    border-radius: 5px;
}

.header-photo {
    width: 100%;
    padding-bottom: 30px;
}

#opis {
    padding: 30px 460px 30px 460px;
    text-align: left;
    line-height: 1.8;
}

.container-pic {
    display: flex;
    /* border: red solid 2px; */
    margin: 0 30% 0 30%;
    flex-direction: column;
}

.cover {
    flex-wrap: wrap;
    align-content: stretch;
    flex: 0 1 auto;
}

.container-text {
    display: flex;
    /* border: white solid 2px; */
    margin: 0 30% 0 30%;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.item{

}



.container-bio {
    display: flex;
    border: red solid 2px;
    margin: 0 20% 0 20%;
    flex-direction: row;
    padding-bottom: 30px;
}

.bio-pic {
    border-radius: 50%;
    width: 80%;
    border: red solid 2px;
}

.bio {
    text-align: left;
    border: red solid 2px;
    line-height: 1.5;
}

.grid-gallery-container {
    display: grid;
    grid-template: repeat(7, 200px) / repeat(3, 250px);
    gap: 10px 10px;
    border: red solid 2px;
    margin: 0 10% 0 10%;
    align-content: center;
    padding: 30px;


}

.grid-gallery-item {
    width: 250px;
    height: 200px;
    justify-items: center;
}